* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, Arial;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Marc {
  font-family:
    Zalando Sans Expanded,
    Arial;
}

.links {
  background-color: black;
  padding: 15px 45px;
  border-radius: 40px;
}

.logo i {
  margin-right: 10px;
  font-size: 20px;
}

.links ul {
  display: flex;
  flex-direction: row;
  gap: 35px;
  list-style: none;
}

.links li {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #238affcc;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: -1;
  padding: 15px 15px;
  
}

.links li:hover::before {
  transform: translateX(0);
}

.links li,
a {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}

.hero-container {
  text-align: center;
  margin-bottom: 150px;
}

.hero-name {
  font-size: 22rem;
  font-family:
    Zalando Sans Expanded,
    Arial;
  letter-spacing: -25px;
  text-shadow: 0 0 5px black;
}

.hero-subtitle {
  font-size: 2.2rem;
  font-family: Outfit, Arial;
  font-weight: 400;
}

.hero-subtitle span {
  font-family: Satisfy, Arial;
}

.below-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.downloadCV {
  background-color: #238affcc;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px #000000c2;
  color: white;
  transition: all 0.6s;
}

.downloadCV:hover {
  transform: translateY(-5px);
  font-weight: bold;
}

.available {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(183, 255, 183);
  padding: 2px 35px;
  border-radius: 50px;
  border: 1px solid rgb(194, 194, 194);
}

.available span {
  margin-right: 10px;
  color: green;
  font-size: 30px;
}

.below-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.below-info img {
  width: 25px;
  margin-bottom: 10px;
}

.place-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
}

.place-info p {
  font-family:
    Zalando Sans Expanded,
    Arial;
  font-size: 12px;
}

.passion-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
}

.passion-info p {
  font-family:
    Zalando Sans Expanded,
    Arial;
  font-size: 12px;
}

.subtitle-color {
  color: gray;
}

/* About Section */

.about-section {
  padding: 100px 0;
  height: 100vh;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1440px;
  margin: auto;
  gap: 80px;
}

.about-subtitle {
  font-weight: bold;
  font-family: Outfit, Arial;
  font-size: 12px;
}

.about-title {
  font-size: 55px;
}

.about-image {
  width: 700px;
  height: 700px;
  object-fit: cover;
  border: 2px solid #ffcf86c2;
}

.name {
  background-image: linear-gradient(to right, #ffcf86c2, #238affcc, #000, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
  /* Start the background at the beginning */
  0% {
    background-position: 0% center;
  }
  /* Move the background to the end over the duration */
  100% {
    background-position: 200% center;
  }
}

.about-text {
  font-size: 20px;
  margin-top: 40px;
  line-height: 40px;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 120px;
}

.about-button {
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcf86c2;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: -1;
}

.about-button:hover::before {
  transform-origin: right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

.info-about-me {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s;
  font-size: 18px;
  text-align: center;
}

.info-about-me.show {
  opacity: 1;
  transform: translateY(0);
}

/* Skills Section */

.skills-section {
  padding: 80px 0;
}

.skills-title {
  text-align: center;
  font-family:
    Zalando Sans Expanded,
    Arial;
  font-size: 80px;
}

.skills-container {
  max-width: 1440px;
  margin: auto;
  margin-top: 120px;
}

.skills-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 30px;
}

.skills-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
}

.skills-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px #704300c2;
}

.skills-card img {
  width: 25px;
  margin-bottom: 15px;
}

.skills-card div {
  display: flex;
}

/* Projects Section */

.projects-section {
  background-color: rgb(247, 247, 247);
  padding: 80px 0;
  height: 110vh;
  margin-top: 80px;
}

.projects-title {
  text-align: center;
  font-size: 80px;
  font-family:
    Zalando Sans Expanded,
    Arial;
}

.projects-container {
  max-width: 1440px;
  margin: auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 80px;
}

.project-card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 630px;
}

.image-container {
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.6s;
}

.project-image:hover {
  transform: scale(1.1);
}

.project-card-info {
  padding: 10px 20px;
}

.project-card-info h1 {
  font-size: 24px;
  text-align: center;
}

.small-title {
  font-size: 22px;
  text-align: center;
}

.project-card-info p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.project-tech-used {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.project-tech-used img {
  width: 20px;
  height: 20px;
}

.button-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3aa6ff;
  color: white;
  border-radius: 5px;
  transition: all 0.6s;
}

.button-card i {
  margin-right: 15px;
  font-size: 20px;
}

.button-card:hover {
  background-color: black;
  color: white;
}

/* Contact */

.contact {
  padding: 5rem 0;
  background: #3aa6ff;
  color: #fff;
}

.contact-container {
  max-width: 1440px;
  margin: 0 auto;
}

.contact-container h1 {
  text-align: center;
  font-size: 80px;
  font-family:
    Zalando Sans Expanded,
    Arial;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.form-group input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 1rem;
}

.form-group textarea {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1rem;
}

.submit-btn {
  display: flex;
  padding: 16px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  gap: 10px;
  margin: 20px auto;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  transform: translateY(-5px);
  box-shadow: 1px 3px 0px white;
}

/* Footer Section */

.footer {
  padding: 5rem 0;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-container p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.footer-links a {
  color: black;
}
